<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:label="SentryPerformance"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:name=".App"
        >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="io.sentry.dsn" android:value=<..> />
        <meta-data android:name="io.sentry.debug" android:value="true" />
        <meta-data android:name="io.sentry.environment" android:value="development" />
        <meta-data android:name="io.sentry.maxRequestBodySize" android:value="always" />
        <meta-data android:name="io.sentry.sendDefaultPii" android:value="true" />
        <meta-data android:name="io.sentry.attach-screenshot" android:value="true" />
        <meta-data android:name="io.sentry.attach-view-hierarchy" android:value="true" />
        <meta-data android:name="io.sentry.breadcrumbs.user-interaction" android:value="true" />
        <meta-data android:name="io.sentry.traces.sample-rate" android:value="1.0" />
        <meta-data android:name="io.sentry.traces.user-interaction.enable" android:value="true" />
        <meta-data android:name="io.sentry.traces.profiling.sample-rate" android:value="1.0" />
        <meta-data android:name="io.sentry.traces.profiling.enable-app-start" android:value="true" />
    </application>
</manifest>
